/*
--fonts--
"Lucida Console", Monaco, monospace
"Courier New", Courier, monospace
Arial, Helvetica, sans-serif;
Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
Optima,Segoe,"Segoe UI",Candara,Calibri,Arial,sans-serif;
--styles--
box-shadow: 0px 0px 15px rgba(0,0,0,.25);
--colors--
rgb(0, 255, 226) ##ddfdcd
rgb(99, 255, 237)
*/
html,body{
	color: rgb(90,90,90); 
	font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size: 100%;
	margin:0;
	padding: 0;
}
h1{font-weight: normal; /*box-shadow: 0px 0px 15px rgba(0,0,0,.25);*/}
h2{}
h3{}
p {font-size: 1.1em; line-height: 1.5em; word-spacing: -0.1em;}
hr{border-bottom-style: none;}

#bottom_background{
	position: fixed;
	width: 100%;
	height: auto;
	min-width: 1080px;
	min-height: 720px;
	z-index: -1;
}

#background{
	float: left;
	width: 100%;
	height: auto;
	min-width: 1080px;
	min-height: 720px;
	z-index: -1;
	/* Position:fixed for now until better solution for overflow content. Perhaps adding a second, third, etc. image.
	position: fixed;*/
}

.wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}

.logo{
	/* Have a high padding to top to start (~200px) then sticky header after scroll to header height */
	/*font-family: Arial, Helvetica, sans-serif;*/
	position: fixed;
	z-index: 1;
}

.logo_holder{
	visibility: hidden;
}

.logo, .logo_holder{
	width: 100%;
	font-size: 36pt;
	letter-spacing: 10px;
	text-align: center;
	box-shadow: 0px 0px 15px rgba(0,0,0,.25);
	background-color: rgba(0,0,0,.25);
	color: white;
	padding-top: 10px;
}

.content{
	display: block;
	margin: 50px auto;
	padding: 30px;
	max-width: 1000px;
	background-color: rgba(255,255,255,.62);
}

.quote{
	display: inline-block;
	float:right;
	max-width:410px;
	font-size:1.3em;
	margin:0px 0px 30px 60px;
	text-shadow:0px 0px 15px gray;
	/*color:rgb(94,94,94);*/
}

#headshot{
	width: 170px;
	border-radius: 50%;
	display: block;
	margin: 20px auto;
	border: 2px solid rgb(229, 230, 233);
}

#tagline{
	text-align: center;
	padding-top: 10px;
}

#about_page{
	border-bottom: rgb(0, 255, 226) 20px dashed;
	box-shadow: 0px 0px 15px rgba(0,0,0,.25);
}


.color-gray{color:dimgray;}
.position-relative{position: relative;}
.padding-normal{ padding: 0px 20px;}
.align-right{float: right; margin-right:35px; margin-top: 20px;}
.negative-margin-top{margin-top: -70px}
.text-align-center{text-align: center;}
